<div id="storeDiscount"
    data-role="view"
    data-layout="back"
    data-title="Promo"
    data-model="Model"
    data-init="Business.showStoreDiscount">
    
    <div id="store-discount-image"></div>
    <div style="display: inline-block; border: 1px solid black">
        <ul style="list-style-type: none">
            <li><span class="new-price" data-bind="text: storeDiscount.newPrice"></span></li>
            <li>RRP: <span class="old-price" data-bind="text: storeDiscount.oldPrice"></span></li>
        </ul>
    </div>
    <div style="display: inline-block; float: right; margin-right: 1em; border: 1px solid black">
        <span data-bind="text: storeDiscount.storeName" style="font-size: 3em"></span>
    </div>
</div>