<div id="userDiscount"
    data-role="view"
    data-layout="back"
    data-title="History Promo"
    data-model="Model.userDiscount"
    data-show="Business.showUserDiscountHistory">
    
    <div id="user-discount-history-image" class="discount-image"></div>
    <div id="user-discount-history-name" class="discount-name">
        <span data-bind="text: u.name"></span>&nbsp;in&nbsp;<span data-bind="text: u.storeName"></span>
    </div>
    <div style="display: inline-block;">
        <ul style="list-style-type: none; padding-left: 14px;">
            <li><span class="new-price" data-bind="text: u.newPrice"></span></li>
            <li><span style="font-size: .8em">RRP: </span><span class="old-price" data-bind="text: u.oldPrice"></span></li>
        </ul>
    </div>
    <div id="user-discount-history-map" style="width: 100%; height: 100px"></div>
    <hr>
    <div class="center-text">
        <a data-role="button" id="bought-button">I bought it!</a><a data-role="button" id="decline-button">I don't want it anymore</a>
    </div>
</div>

<div id="user-discount-big-map"
    data-role="view"
    data-layout="back"
    data-title="Map"
    data-show="Business.userDiscountBigMap">
    <div id="user-discount-big-map" style="width: 100%; height: 100%"></div>
    
</div>